{% extends 'layout.html' %}
{% block content %}
    {% for course in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ course.course_code }}</a>
                <small class="text-muted">{{ course.course_name }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ course.instructor }}</a></h2>
            <p class="article-content">{{ course.classroom }}</p>
        </div>
    </article>
    {% endfor %}
{% endblock content %}