{% extends 'profile/profile_template.html' %}
{% block content %}
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
		<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Filters
					</h3>
				</div>
			</div>

			<!--begin::Form-->
			<form class="kt-form kt-form--fit kt-form--label-right" method="POST" action="profile/predict">
				<div class="kt-portlet__body">
					<div style="float: left;">
						<div class="form-group row">
							<label class="col-form-label col-lg-3 col-sm-12">Select Subjects</label>
							<div class=" col-lg-4 col-md-9 col-sm-12">
								<select class="form-control kt-select2" id="kt_select2_3" name="subjects" multiple="multiple" onclick="highlightSelected()">
									{% for subject in subjects %}
										<option value={{ subject }}>{{ subject }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group form-group-last" style="width: 300px; float: right; margin-left: 20px; margin-top: 8px;">
								<div class="alert alert-secondary" role="alert">
									<div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
									<div class="alert-text">
										To make a prediction, please select your desired subjects and min. grade.
									</div>
								</div>
							</div>	
						</div>		
						<div class="form-group row">
							<label class="col-form-label col-lg-3 col-sm-12">Select Min. Grade</label>
							<div class=" col-lg-4 col-md-9 col-sm-12">
								<select class="form-control kt-select2" id="kt_select2_1" name="min-grade">
									<option value="A+">A+</option>
									<option value="A">A</option>
									<option value="A-">A-</option>
									<option value="B+">B+</option>
									<option value="B">B</option>
									<option value="B-">B-</option>
									<option value="C+">C+</option>
									<option value="C">C</option>
									<option value="C-">C-</option>
									<option value="D+">D+</option>
									<option value="D">D</option>
									<option value="D-">D-</option>
									<option value="F">F</option>
								</select>
							</div>
							<div class="kt-form__actions" style="margin-left: 100px;">
								<button id="submit_button" type="submit" class="btn btn-primary" onclick="sendOptions()">Predict</button>
								<button type="reset" class="btn btn-secondary">Reset</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<!--begin:: Widgets/Sale Reports-->
		<div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Grade Predictions
					</h3>
				</div>
				<div class="kt-portlet__head-toolbar">
					<ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#kt_widget11_tab1_content" role="tab">
								Regression Model
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#kt_widget11_tab2_content" role="tab">
								Collaborative Filtering
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="kt-portlet__body">

				<!--Begin::Tab Content-->
				<div class="tab-content">

					<!--begin::tab 1 content-->
					<div class="tab-pane active" id="kt_widget11_tab1_content">

						<!--begin::Widget 11-->
						<div class="kt-widget11">
							<div class="table-responsive">
								<table class="table" style="text-align: center;">
									<thead>
										<tr>
											<td style="width:10%">Course Code</td>
											<td style="width:40%">Course Name</td>
											<td style="width:10%">Credit</td>
											<td style="width:12%">Prerequisite(s)</td>
											<td style="width:12%">Predicted Grade</td>
											<td style="width:15%">Prediction Probability</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<span class="kt-widget11__title">CS 350</span>
											</td>
											<td>
												<span class="kt-widget11__title">Database Systems</span>
												<span class="kt-widget11__sub">Type: Required</span>
											</td>
											<td>3</td>
											<td>ENGR 102</td>
											<td class="kt-font-bold" style="color:green">A</td>
											<td class="kt-font-brand kt-font-bold">90%</td>
										</tr>
										<tr>
											<td>
												<span class="kt-widget11__title">ENGR 102</span>
											</td>
											<td>
												<span class="kt-widget11__title">Programming Practice</span>
												<span class="kt-widget11__sub">Type: Required</span>
											</td>
											<td>3</td>
											<td>ENGR 101</td>
											<td class="kt-font-bold" style="color:green">A-</td>
											<td class="kt-font-brand kt-font-bold">96.77%</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<!--end::Widget 11-->
					</div>

					<!--end::tab 1 content-->

					<!--begin::tab 2 content-->
					<div class="tab-pane" id="kt_widget11_tab2_content">

						<!--begin::Widget 11-->
						<div class="kt-widget11">
							<div class="table-responsive">
								<table class="table" style="text-align: center;">
									<thead>
										<tr>
											<td style="width:10%">Course Code</td>
											<td style="width:40%">Course Name</td>
											<td style="width:10%">Credit</td>
											<td style="width:12%">Prerequisite(s)</td>
											<td style="width:12%">Predicted Grade</td>
											<td style="width:15%">Prediction Probability</td>
										</tr>
									</thead>
									<tbody>
										<!-- <tr>
											<td>
												<span class="kt-widget11__title">UNI 118</span>
											</td>
											<td>
												<span class="kt-widget11__title">Understanding Politics and Economy</span>
												<span class="kt-widget11__sub">Type: Core Course Elective</span>
											</td>
											<td>3</td>
											<td></td>
											<td class="kt-font-bold" style="color:green">A+</td>
											<td class="kt-font-brand kt-font-bold">100%</td>
										</tr> -->
									</tbody>
								</table>
							</div>
						</div>

						<!--end::Widget 11-->
					</div>

					<!--end::tab 2 content-->

					<!--begin::tab 3 content-->
					<div class="tab-pane" id="kt_widget11_tab3_content">
					</div>

					<!--end::tab 3 content-->
				</div>

				<!--End::Tab Content-->
			</div>
		</div>

		<!--end:: Widgets/Sale Reports-->
		
	</div>
{% endblock %}
