{% extends "profile/profile_template.html" %}

{% block content %}
	<!-- begin:: Content -->
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

		<!--Begin::Section-->
		<div class="row">
			<div class="col-xl-12">

				<!--begin:: Widgets/Applications/User/Profile3-->
				<div class="kt-portlet kt-portlet--height-fluid">
					<div class="kt-portlet__body">
						<div class="kt-widget kt-widget--user-profile-3">
							<div class="kt-widget__top">
								<div class="kt-widget__media kt-hidden-">
									<img src={{ profile_pic }} alt="image">
								</div>
								<div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden">
									JM
								</div>
								<div class="kt-widget__content">
									<div class="kt-widget__head">
										<a class="kt-widget__username">
											{{ name }}
											<i class="flaticon2-correct"></i>
										</a>
									</div>
									<div class="kt-widget__subhead">
										<a><i class="flaticon2-new-email"></i>{{ email }}</a>
										<a><i class="flaticon2-calendar-3"></i>{{ student_number }}</a>
										<a><i class="flaticon2-open-text-book"></i>{{ department }}</a>
										<br><br>
										<a><i class="flaticon-profile-1"></i>{{ advisor }}</a>
										<a><i class="flaticon-home"></i>Istanbul Sehir University</a>
									</div>
									<div class="kt-widget__info">
										<div class="kt-widget__progress">
											<div class="kt-widget__text" style="margin-bottom: 20px;">
												Graduation
											</div>
											<div class="progress" style="height: 10px;width: 100%;">
												<div id="graduation_progress" class="progress-bar kt-bg-success" role="progressbar" style="width: 0%;" aria-valuenow={{ graduation_progress }} aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											<div class="kt-widget__stats" style="margin-bottom: 20px;">
												{{ graduation_progress }}%
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="kt-widget__bottom">
								<div class="kt-widget__item">
									<div class="kt-widget__icon">
										<i class="flaticon-trophy"></i>
									</div>
									<div class="kt-widget__details">
										<span class="kt-widget__title">GPA</span>
										<span class="kt-widget__value">{{ gpa }}</span>
									</div>
								</div>
								<div class="kt-widget__item">
									<div class="kt-widget__icon">
										<i class="flaticon-list-1"></i>
									</div>
									<div class="kt-widget__details">
										<span class="kt-widget__title">Completed Credits</span>
										<span class="kt-widget__value">{{ completed_credits }}</span>
									</div>
								</div>
								<div class="kt-widget__item">
									<div class="kt-widget__icon">
										<i class="flaticon-pie-chart"></i>
									</div>
									<div class="kt-widget__details">
										<span class="kt-widget__title">Completed ECTS</span>
										<span class="kt-widget__value">{{ completed_ects }}</span>
									</div>
								</div>
								<div class="kt-widget__item">
									<div class="kt-widget__icon">
										<i class="flaticon-medal"></i>
									</div>
									<div class="kt-widget__details">
										<span class="kt-widget__title">Standing</span>
										<span class="kt-widget__value">{{ standing }}</span>
									</div>
								</div>
								<div class="kt-widget__item">
									<div class="kt-widget__icon">
										<i class="flaticon-interface-10"></i>
									</div>
									<div class="kt-widget__details">
										<span class="kt-widget__title">Semester</span>
										<span class="kt-widget__value">{{ semester_of_student }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--end:: Widgets/Applications/User/Profile3-->
			</div>
		</div>

		<!--End::Section-->

		<!-- Begin::Team Section-->
		<div class="team-section" style="margin-left: 0px; margin-right: 0px;">
			<div class="inner-width">
				<h1>Meet Our Team</h1>
				<div class="pers">
					<div class="pe">
						<img src="static/media/users/alicakmak.png" alt="Dr. Ali Cakmak">
						<div class="p-name">Dr. Ali Cakmak</div>
						<div class="p-des">PhD, Case Western Reserve University<br>Istanbul Sehir University</div>
						<div class="p-sm">
							<a href="https://tr.linkedin.com/in/alicakmak" target="_blank"><i class="fab fa-linkedin"></i></a>
							<a href="https://www.sehir.edu.tr/en/academics/academic-staff/alicakmak" target="_blank"><i class="fas fa-user-circle"></i></a>
							<a href="https://www.researchgate.net/profile/Ali_Cakmak2" target="_blank"><i class="fab fa-researchgate"></i></a>

							
						</div>

					</div>
				</div>
				<div class="pers">
					<div class="pe">
						<img src="static/media/users/alireza.png" alt="Ali Reza Ibrahimzada">
						<div class="p-name">Ali Reza Ibrahimzada</div>
						<div class="p-des">Computer Science and Engineering<br>Istanbul Sehir University</div>
						<div class="p-sm">
							<a href="https://www.linkedin.com/in/ali-reza-ibrahimzada-9057bb114/?originalSubdomain=tr" target="_blank"><i class="fab fa-linkedin"></i></a>
							<a href="https://www.github.com/ali0jn" target="_blank"><i class="fab fa-github"></i></a>
							<a href="https://www.researchgate.net/profile/Ali_Reza_Ibrahimzada" target="_blank"><i class="fab fa-researchgate"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End::Team Section-->

		<div class="inner" style="margin-top: 30px;">
			<h1 style="text-align: center;">What Our Users Say</h1>
			<div class="border"></div>
		</div>

		<div class="testimonial_slider_2" style="margin-left: 0px; margin-right: 0px;">
			{{ radio_buttons }}
			<div class="boo_inner clearfix">
				{{ testifiers }}
			</div>
			<div id="controls">
				{{ labels }}
			</div>
			<div class="team-section">
				<label id="counterLabel" style="text-align: center;">1 of 4</label>
			</div>				
		</div>
		
		<!--Begin::Contact Us-->
		<div class="inner" style="margin-top: 30px; text-align: center;">
			<h1>Contact Us</h1>
			<div class="border"></div>
		</div>

		<div class="contact_info" style="margin-right: 0px; margin-left: 0px;">
			<div class="box">
				<div class="icon">
					<i class="kt-menu__link-icon flaticon-email-black-circular-button" style="font-size: 70px; cursor: pointer;"></i>
					<h4>Email</h4>
					<h3>aliibrahimzada@std.sehir.edu.tr</h3>
				</div>
			</div>
			<div class="box">
				<div class="icon">
					<i class="kt-menu__link-icon flaticon2-phone" style="font-size: 70px; cursor: pointer;"></i>
					<h4>Phone</h4>
					<h3>+90 xxx xxx xxxx</h3>
				</div>
			</div>
			<div class="box" style="margin-top: 17px;">
				<div class="icon">
					<i class="kt-menu__link-icon flaticon2-pin" style="font-size: 70px; cursor: pointer;"></i>
					<h4>Address</h4>
					<h3>Istanbul Sehir University, 34865<br>Kartal - Istanbul / Turkey</h3>
				</div>
			</div>
		</div>

		<!--End::Contact Us -->

	</div>

	<!-- end:: Content -->
{% endblock %}
